{% extends 'shop/layouts/main.html' %}
{% block content %}
{% include 'shop/slider.html' %}
<section class="font-bold text-4xl pt-5 pl-16">
    <div>
        
        {% for company in brand %}
            <div class="box-content bg-white border-2 p-4 shadow-lg mb-4">
                
                {% if company.brand_logo %}
                    <img src="{{ company.brand_logo.url }}" alt="{{ company.brand_name }} logo" class="w-32 h-32 object-contain">
                {% else %}
                    <p>No logo available</p>
                {% endif %}
                <h5 class="text-xl mt-2">{{ company.brand_name }}</h5>
            </div>
        {% endfor %}
    </div>
</section>

<section class="font-bold text-4xl pt-5 pl-14">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="pb-2">Catagory</h1>
            <hr>
        </div>
        {% for item in catagory %}
        <div class="col-md-4 col-lg-3 ml-10 mb-4 mr-10">
            <h5 class="text-3xl pt-3">{{ item.name }}</h5>
            <div class="card my-3 shadow-md">
                <img src="{{item.image.url}}" class="card-image-top" alt="categories">
                <a href="{% url 'mobileviews' item.name %}"><hr>
                <div class="card-body">
                    <h5 class="card-title text-primary text-xl">{{ item.name }}</h5>
                    <p class="card-text  text-xl ">{{ item.description }}</p>
                </div> 
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
         <div class="container font-bold text-4xl ml-24 mb-8" ><h1>Latest Offers</h1></div>
        {% for item in products %}
        <div class="col-md-4 col-lg-3  ml-20 mb-4 ">
            <div class="card my-1 shadow-md">
                <img src="{{item.product_image.url}}" class="card-image-top" alt="categories">
                <a href="{% url 'product_details'  item.category.name item.name %}">
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ item.name }}</h5>
                        <p class="card-text p-4">
                            <span class="float-start font-bold bg-red-500 text-white px-2 py-1  rounded-md hover:bg-red-600"><s>Rs.{{ item.orginal_price | stringformat:'d' }}</s></span>
                            <span class="float-end  bg-green-700 px-2 py-1  font-bold text-yellow-50 hover:bg-green-600 rounded-md shadow-md ">Rs.{{ item.selling_price | stringformat:'d' }}</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
 
{% endblock content %}