<body class="bg-teal-300 p-0 m-0 font-sans  ">

    <header class="bg-teal-400 p-3 shadow-md">
        <div class="container mx-auto flex flex-wrap items-center justify-between">
            <!-- Brand Name -->
            <div class="flex-shrink-0 text-black font-bold text-xl md:text-2xl ml-0 md:ml-10">
                <a href="{% url 'home' %}">Mobiles hub</a>
            </div>
    
            <!-- Search Bar -->
            <form method="GET" action="{% url 'search_products' %}">
                <input type="text" name="q" placeholder="Search for product" 
                    class="px-4 py-2 w-full rounded-full bg-white border focus:outline-none hidden sm:block">
                <button class="absolute inset-y-0 right-4 items-center hidden md:block" type="submit">
                </button>
            </form>

    
            <!-- Cart and User Links -->
            <div class="flex gap-3 items-center mt-3 md:mt-0 text-black">
                <!-- Cart Icon -->
                <a class="text-xl cursor-pointer" href="{% url 'cart' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="hidden md:inline">Cart</span>
                </a>
    
                <!-- Like Icon -->
                <a class="text-xl cursor-pointer" href="{% url 'favviewpage' %}">
                    <i class="fa-solid fa-heart"></i>
                    <span class="hidden md:inline">Like</span>
                </a>
    
               <!-- User Authentication Links  -->
               {% if request.user.is_authenticated %}
               <div class="relative group">
                   <a class="text-xl cursor-pointer flex items-center" id="userMenuToggle" href="{% url 'home'%}">
                       <i class="fa-solid fa-user"></i>
                       <span class="ml-1 hidden md:inline">{{ request.user }}</span>
                   </a>
               </div>
               <a class="text-xl cursor-pointer" href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="hidden md:inline">Logout</span>
                </a>
                {% else %}
                <a class="text-xl cursor-pointer" href="{% url 'login' %}">
                    <i class="fa-solid fa-user"></i>
                    <span class="hidden md:inline">Login</span>
                </a>
            
                {% endif %}
                
            </div>
        </div>
    </header>
    


    <div class="md:hidden ml-2">
        <button id="menu-btn" class="text-black focus:outline-none">
            <i class="fa-solid fa-bars fa-2x"></i>
        </button>
    </div>

    <!-- Navigation Links -->
    <nav class="hidden md:flex flex-col justify-center md:flex-row space-y-4 md:space-y-0 md:space-x-12 md:mt-7 text-black"
        id="menu">
        <a href="{% url 'mobileviews' 'Mobiles' %}">MOBILES <i class="fa-solid fa-chevron-down"></i></a>
        <a href="{% url 'mobileviews' 'Accessories' %}">ACCESSORIES <i class="fa-solid fa-chevron-down"></i></a>
        <a href="{% url 'mobileviews' 'Gadgets' %}">GADGETS <i class="fa-solid fa-chevron-down"></i></a>
        <a href="{% url 'mobileviews' 'second_hand' %}">SECOND_HAND <i class="fa-solid fa-chevron-down"></i> </a>
        <a href="{% url 'offers' %}">OFFERS</a>
        <a href="{% url 'service' %}">SERVICES</a>
        <a href="{% url 'about' %}">ABOUT</a>
        <a href="{% url 'contact' %}">CONTACT</a>
    </nav>

    <br>
    
</body>