<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
     <title>Mobile shop</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="header">
       <div class="logo">
        <a href="{% url 'home' %}"> Partha Mobile</a>
       </div>
        <div class="relative">
            <input type="text" placeholder="Search for products, brands and more" 
                       class="px-4 py-2 w-96 rounded-full bg-white border focus:outline-none">
                       <span class="absolute inset-y-0 right-4 flex items-center">
                        <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M12.9 14.32a8 8 0 111.41-1.41l4.29 4.3a1 1 0 11-1.42 1.41l-4.28-4.3zM8 14a6 6 0 100-12 6 6 0 000 12z" clip-rule="evenodd"/>
                        </svg>
        </div>
       
        <div class="cart-icons">
            <a><i class="fa-solid fa-cart-shopping"></i> Cart</a>
            <a><i class="fa-regular fa-heart"></i> Like</a>
            <a><i class="fa-solid fa-user"></i> Register</a>
        </div>
    </header><hr><br>
    <div class="nav-links">
        
        <a href="#">MOBILES <i class="fa-solid fa-chevron-down"></i></a>
        <a href="#">ACCESSORIES <i class="fa-solid fa-chevron-down"></i></i></a>
        <a href="#">GADGETS <i class="fa-solid fa-chevron-down"></i></i></a>
        <a href="service.html">SERVICES</a>
        <a href="#">ABOUT</a>
        <a href="#">CONTACT</a>
    </div>


</body>
</html>
