@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

html{
    font-size: 14px;
}

a{
    text-decoration: none;
}

 
hr{
    box-shadow: inset;
}
.card{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 65vh;
    
}
.card img{
    height: 100%;
    width: 100%;
}

 
.cat-name{
    font-weight: bold;
    font-size: x-large;
    
}
 